.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
}

.square {
  border: 2px solid #000000;
  background: #fff;
  float: left; 
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.disabledB{
  background-color: rgb(0, 0, 71);
}

.disabledR{
  background-color: rgb(75, 0, 0);
}

.disabledD{
  background-color: rgb(0, 0, 0);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin-right: 20px;
}

.game-info {
  margin-top: 60px;
}

.game-info > div {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.btn-x {
  background-color: rgb(0, 81, 255);
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.btn-o {
  background-color: red;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  padding: 0;
  text-align: center;
  width: 60px;
}
